<h5><%= @topic.title %></h5>

<div class="input-field">
  <input placeholder="Press Enter to send the message" type="text" class="materialize-textarea"></input>
<div>
<div class="collection"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>)
  });
</script>